.texto {
    text-align: center;
    border: 2px solid black;
}

.texto2 {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 2px solid black;
}

h1 {
    text-align: center;
    font-size: 3rem;
    box-shadow: 2px 2px 10px rgba(146, 46, 46, 0.488);
}

h2 {
    font-size: 3rem;
    text-align: center;
}